---
import type { GetStaticPaths } from "astro";
import PostCard from "../../components/PostCard.astro";
import MainLayout from "../../layouts/MainLayout.astro";


import { formatBlogPosts } from "../../js/utils";
import Pagination from "../../components/Pagination.astro";
import CategoryCloud from "../../components/CategoryCloud.astro";


export const getStaticPaths = (async ({paginate}) => {
	const allPosts = await Astro.glob("./*.md")
	const formattedPosts = formatBlogPosts(allPosts);
	
	return paginate(formattedPosts, {
		pageSize: 3,
	});
}) satisfies GetStaticPaths;
// Get all the posts of the project (all md files)


const { page } = Astro.props
const tagType = "h2"
---

<MainLayout title="My Blog", description="Astro Project">
	<section class="container" aria-label="New Blog Posts">
		<h1 class="h1">New Blog Posts</h1>
		<div class="post-container">
			{
				page.data.map((post: unknown) =>
					<PostCard
						{post}
						{tagType}
					/>
				)
			}
		</div>
		<Pagination 
			prevUrl={page.url.prev}
			nextUrl={page.url.next}
		/>
	</section>
	<aside class="container" aria-label="Blog Categories">
		<h2 class="h3">Blog Categories</h2>
		<CategoryCloud showCount={true}/>
	</aside>
</MainLayout>
